body {
    font-family: 'Athiti', sans-serif;
    background: rgb(55, 55, 55);
}

div.main {
    width: 650px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(232, 232, 232);
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 93.5%;
    display: block;
    padding: 15px 20px 15px 20px;
    border-width: 0;
    margin-bottom: 10px;
}

input[type='submit'] {
    border: 0;
    padding: 15px 20px 15px 20px;
    background: rgb(255, 125, 61);
    color: rgb(232, 232, 232);
    cursor: pointer;
}
